/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 10, 2016, 11:28:27 AM
    Author     : Dell
*/
.model_overlay {position: fixed; z-index: 99; width: 100%; height: 100%; background: rgba(0,0,0,0.5); top:0; left:0; }
.model_popup { position: absolute; z-index: 100; top: 10%; left: 50%; width: 650px; margin-left: -325px; }
