/* Fonts */

@font-face {
    font-family: 'Humanst521LtBTLight';
    src: url('../fonts/humanst521-lt-bt-light.eot');
    src: url('../fonts/humanst521-lt-bt-light.eot') format('embedded-opentype'),
         url('../fonts/humanst521-lt-bt-light.woff') format('woff'),
         url('../fonts/humanst521-lt-bt-light.ttf') format('truetype'),
         url('../fonts/humanst521-lt-bt-light.svg#Humanst521LtBTLight') format('svg');
}

/* Main styles */

html{
	height: 100%;
}

body{
	background: url("../images/bg.jpg") no-repeat center 0;
	background-attachment:fixed;
	font-family:"Istok Web", Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

body > #wrapper { height: auto; min-height: 100%; }
body > #container-wrapper{ height: auto; min-height: 100%; }

.disableClick{
    pointer-events: none;
}

#wrapper{
    height: 100%;
    margin: auto;
}

#container-wrapper{
    height: 100%;
    margin: auto;
}

ul, li{
	margin:0;
	padding:0;
	list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p, a{
	font-family:"Istok Web", Arial, sans-serif;
	padding:0;
	margin:0;
	line-height:normal;
}

.bold-txt{
	font-weight: bold;
}

.left{
	float: left;
}

/* Login Screen */

#loginWrap{
	position: relative;
	top: 100px;
}
.login-container{
	background: #ede3d6;
	width:366px;
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
	margin:0 auto;
}

.login-container .container{
	max-width:366px;
}

.login-header{
	background:url("../images/login_header_bg.jpg") no-repeat 0 0 #80c438;
	height: 178px;
	color: #266c14;
	line-height: 24px;
}

.login-header .logo{
	text-align: center;
	padding-top: 28px;
}

.login-header .company-name{
	font-weight: bold;
	text-align: center;
	font-size: 20px;
	margin-top: 5px;
}

.login-header .company-tagline{
	text-align: center;
	font-size: 20px;
}

.login-content{
	text-align: center;
	padding: 45px 0 25px;
}

.login-content input[type="text"],.login-content input[type="password"]{
	font-family:"Istok Web", Arial, sans-serif;
	background:#f9f2e8;
	border:solid 1px #e2dad0;
	color:#978c83;
	padding: 10px;
	display: block;
	width: 268px;
	font-size: 13px;
	margin: 0 auto 25px;
}

.help-links{
	margin:0 auto;
	width:268px;
	font-size: 13px;
	color:#978c83;
	overflow: hidden;
}

.help-links input[type="checkbox"]{
	border:0;
	vertical-align: middle;
}

.help-links .remember{
	float: left;
}

.help-links .remember label{
	font-weight: normal;
}

.help-links .lost-password{
	float: right;
	margin-top: 3px;
}

.help-links .lost-password a{
	text-decoration:underline;
	color:#978c83;
}

.login-nav ul{
	overflow: hidden;
}


.login-nav ul li{
	width:50%;
	float:left;
	text-align: center;
	vertical-align: middle;
}

.login-nav ul li a{
	display: block;
	padding: 23px 0;
	text-decoration: none;
	font-size: 20px;
	color:#ffffff;
}

.login-nav ul li.continue-btn{
	width:100%
}

.login-nav ul li.continue-btn a{
	background: #80c438;
}
.login-nav ul li.login-btn a{
	background: #80c438;
}

.login-nav ul li.signup-btn a{
	background: #266c14;
}

.login-footer{
	font-family:Arial, sans-serif;
	font-size:12px;
	color:#fff;
}

.login-footer{
	font-family:Arial, sans-serif;
	font-size:12px;
	color:#fff;
}

.login-footer{
	font-family:Arial, sans-serif;
	font-size:12px;
	color:#fff;
	text-align: center;
	padding: 28px 0;
	line-height: 16px;
}


/*custom check box */

.custom-checkbox{
	position: relative;
}

.custom-checkbox input {
	position: absolute;
	left: 3px;
	top: 5px;
	margin: 0;
	z-index: 0;
}

.custom-checkbox label {
	display: block;
	position: relative;
	z-index: 1;
	font-size: 13px;
	padding-right: 1em;
	line-height: 1;
	padding: .5em 0 .5em 30px;
	margin: 0 0 .3em;
	cursor: pointer;
}

.custom-checkbox label {
	background: url(../images/checkbox.png) no-repeat;
}

.custom-checkbox label{
	background-position: 0px 3px;
}

.custom-checkbox label.checked{
	background-position: 0px -66px;
}

/* Header */

#header,#topNav,#mainContent,#footer{

}

#headerWrapper{
	height: auto;
}

#header{
	background: url(../images/header_bg.png) no-repeat;
	height:100px;
}

#header .logo-content{
	padding-top: 12px;
}

#header .logo-content h1{
	font-family:"Istok Web", Arial, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#266c14;
	padding-top:14px;
	font-weight: bold;
}

#header .logo-content p{
	font-size:20px;
	color:#266c14;
}

#header .user-content{
	padding-top: 24px;
}

#header .user-content h1{
	font-size:20px;
	font-weight:bold;
	color:#266c14;
	padding-top:4px;
}

#header .logo-content a
{
	padding-right: 6px;
}

#header .user-content a
{
	padding: 0 14px;
}


#header .user-content p{
	font-family:Arial, sans-serif;
	font-size:13px;
	color:#266c14;
}

#header .user-content span{
	font-weight: normal;
}


/* Top Navigation */

#topNav{
	background: #80C438
}

#topNav .topnav-left{
	padding-left: 0;
	padding-right: 0;
}

#topNav .topnav-right{
	padding-left: 0;
	padding-right: 0;
}

#topNav .top-content{
	background: url(../images/topnav-bg.jpg) no-repeat 100% 0 #78b926 !important;
	height: 101px;
	font-family: "Istok Web", Arial, sans-serif;
	font-size: 20px;
	color: #fff;
	padding-top: 20px;
	padding-left: 26px;
}

#topNav .top-content h2{
	font-family:"Istok Web", Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 1em;
}

#topNav ul li{
	float: left;
	text-align: center;
}
#topNav ul li a{
	width:7.86em;
	background:#ccc;
	display: block;
	color: #266c14;
	font-size:13px;
	text-decoration: none;
	padding: 32px 24px 12px;
}

#topNav ul li a span.icon{
	display: block;
	height: 28px;
	margin-bottom: 10px;
}

#topNav ul li a span.notification-count{
	display: block;
	height: 28px;
	font-weight: bold;
	font-size: 30px;
	line-height:30px;
	margin-bottom: 10px;
	color: #fff;
}

#topNav ul li.active a{
	background:#266c14;
	color: #80c438;
}
#topNav ul li.normal a{
	background:#80c438;
	color: #266c14;
}
#topNav ul li.notification a{
	background:#63b30e;
}
#topNav ul li.logout a{
	background:#80c438;
}

/* Main Content Styles */

#containerMobile{
	padding-bottom:50px;
	height: auto !important;
}


/* Left Panel */

.sidebar-left{
	padding-left: 0;
	padding-right: 0;
	background:#ede2d9;
	border-right: solid 1px #e1d8d1;
}

.sidebar-left-wrap,
.sidebar-right-wrap{
	position: relative;
}

.sidebar-left ul li a{
	background: url(../images/leftnav-list-bg.png) repeat-x 0 100% transparent;
	font-family:Arial, sans-serif;
	font-size:13px;
	color:#978c83;
	display: block;
	text-decoration: none;
}

.sidebar-left ul li.active a{
	background-color:#f4eae2;
}

.sidebar-left ul li span{
	padding:15px;
	display: inline-block;
	margin-right: 14px;
	margin-top: -1px;
}

.sidebar-left ul li:first-child span{
	margin-top: 0px;
}

.sidebar-left ul li:last-child span{
	margin-bottom: 1px;
}


.sidebar-left ul li span.assessment{
	background: #fcb62d;
}

.sidebar-left ul li span.green{
	background: #266C24;
}

.sidebar-left ul li span.tax-calc{
	background: #fc852d;
}

.sidebar-left ul li span.birth-cert{
	background: #e20013;
}

.sidebar-left ul li span.death-cert{
	background: #9a3267;
}

.sidebar-left ul li span.grievance{
	background: #0a4ea1;
}

.sidebar-left ul li span.help{
	background: #019cd2;
}

/* Right Panel */

.sidebar-right{
	background:#F4EAE2;
	padding-left: 0;
	padding-right: 0;
	border-left: solid 1px #e1d8d1;
}

.paynow{
	width: 204px;
}
.paynow span.icon{
	margin-right: 8px;
	margin-top: 18px;
}

.paynow a{
	background: #019cd2;
	color: #8de0ff;
	display: block;
	font-size: 20px;
	font-weight: bold;
	height: 101px;
	line-height: 65px;
	padding: 0 0.8em;
	text-decoration: none;
	margin-left: -1px;

}

.add-new span.icon{
	display: block;
	margin-bottom: 10px;
    padding-top: 12px;
}

.add-new a{
	font-family: "Istok Web", Arial,sans-serif;
	background: #fcb62d;
	color: #fff;
	display: block;
	font-size: 12px;
	width:8.491em;
	height: 101px;
	padding: 0 15px;
	text-decoration: none;
	line-height: 12px;
}

/* Content Area */

.content{
	margin: 0;
	padding: 0 0 30px;
	background: #f4eae2;
}

.homepage-content{
	position: absolute;
	overflow-y: auto;
	width: 100%;
	z-index: 9;
}

.content-header{
	padding: 5px 30px 25px;
}

.content-header h2{
	font-size: 25px;
	color: #978c83;
}

.total-pending{
	font-size: 50px;
	background: #18510a;
	color: #80c438;
	height:101px;
	padding: 0 0 0 20px;
}
.total-pending .total-pending-title{
	font-family:"Humanst521LtBTLight", Arial, sans-serif;
	line-height: normal;
	padding-top: 18px;
}

@media screen and (min-width:0\0) { /* font alingment fix for IE 9 and 10 */
	.total-pending-title{ padding-top:28px !important;}
}

.total-pending .total-pending-amount{
	background: url("../images/rupee-icon.png") no-repeat 0 32px;
    font-family: "Istok Web", Arial,sans-serif;
   	line-height: normal;
    padding-left: 30px;
    padding-right: 20px;
    padding-top:18px;
    font-weight: bold;
}

.total-pending span.icon{
	margin-right: 10px;
	display: inline-block;
}


table tr td{
	background: #f9f2e8
}
table tr.stripe td{
	background: #ede3d6;
}

table.pending-list,
table.assessment-details
{
	margin-bottom: 0;
}

table.pending-list td.list-icon{
	width:8%;
}

table.pending-list td.tax-type{
	width:55%;
}

table.pending-list td.tax-amount{
	width:15%;
}

table.pending-list td.view-details{
	width:16%;
}

table.pending-list td.list-icon img{
	margin-left: 6px;
	text-align: center;
}

.orange-btn a{
	background: #fcb62d;
	padding: 8px 8px 6px 8px;
	font-size: 13px;
	color: #fff;
	text-decoration: none;
	display: block;
	text-align: center;
}

div.green-btn a{
	background: #266C24;
	color: #80C438;
	width: 60%;
	padding: 8px 8px 6px 8px;
	font-size: 13px;
	text-decoration: none;
	display: block;
	text-align: center;
}

a.light-green-btn{
	background: #80C438;
	color: #FFF;
	padding: 8px 8px 6px 8px;
	font-size: 13px;
	text-decoration: none;
	display: block;
	text-align: center;
}

table.pending-list tr td{
	border-top: none;
    line-height: 1.42857;
    padding: 0.615em 0.4em;
    font-size: 15px;
    color: #978c83;
    vertical-align: inherit;
}

.rupee-small-icon{
	background: url(../images/rupee-small-icon.png) no-repeat 0 0 transparent;
	width: 8px;
	height: 11px;
	display: inline-block;
	margin-right: 5px;
}

.assessment-header{
	background: #ede3d6;
	padding: 0 20px 0 15px;
}

.assessment-header h3,
.assessment-header p{
	font-size: 15px;
	color:#978c83;
	line-height: 3.3em;
}

.assessment-header h3 span.icon{
	margin-right:15px;
	display: inline-block;
}

table.assessment-details tr td{
    padding: 0.8em;
    font-size: 13px;
    color: #978c83;
}

table.assessment-details tr td.assessment-title{
    width: 29%;
}

.assessment-footer{
	background: #f4eae2;
}

.more-details-btn a{
	font-size:13px;
	background: #ffd88b;
	display: block;
	padding-left: 15px;
	margin-left: 15px;
	color: #be820b;
	text-decoration: none;
}

.trans-details-btn a{
	font-size:13px;
	display: block;
	padding-left: 15px;
	margin-left: 15px;
	text-decoration: none;
}
.autoscroll{
	height:250px;
	overflow:auto;
}

.more-details-btn .more-details-icon{
	background: #fcb62d;
	display: inline-block;
	padding: 20px 15px;
	margin-left: 15px;
}

.due-details-header{
	background: #fcb62d;
	padding: 0 20px 0 58px;
}

.trans-details-header{
	background: #FC852D;
	padding: 0 5px 0 38px;
}
.trans-details-header h3{
	font-size: 15px;
	color:#9d6c0e;
	line-height: 3.3em;
}
.due-details-header h3{
	font-size: 15px;
	color:#9d6c0e;
	line-height: 3.3em;
}

table.due-details-table{
	margin-bottom: 0;
}

table.due-details-table th.financial-year{
	width:22%;
}

table.due-details-table th.demand-date{
	width:14%;
}

table.due-details-table th.tax{
	width:15%;
}

table.due-details-table th.cumulative-due{
	width:25%;
}

table.trans-details-table{
	margin-bottom: 0;
}

table.trans-details-table th.financial-year{
	width:22%;
}

table.trans-details-table th.demand-date{
	width:14%;
}

table.trans-details-table th.tax{
	width:15%;
}

table.trans-details-table th.cumulative-due{
	width:25%;
}
table.pending-list td.list-icon img{
	margin-left: 6px;
	text-align: center;
}
table.trans-details-table tr th{
	background:#FFC7AE;
    line-height: 1.25em;
    padding: 0.8em;
    font-size: 15px;
    color: #be820b;
    font-weight: normal;
    border-color: #eccf95;
    text-align: center;
}

table.trans-details-table tr td{
	background:#FFE1D5;
    line-height: 1.25em;
    padding: 0.9em 0.8em;
    font-size: 13px;
    color: #be820b;
    border-color: #eccf95;
    text-align: center;
}

table.due-details-table tr th{
	background:#ffd88b;
    line-height: 1.25em;
    padding: 0.8em;
    font-size: 15px;
    color: #be820b;
    font-weight: normal;
    border-color: #eccf95;
    text-align: center;
}

table.due-details-table tr td{
	background:#ffe8bb;
    line-height: 1.25em;
    padding: 0.9em 0.8em;
    font-size: 13px;
    color: #be820b;
    border-color: #eccf95;
    text-align: center;
}

table tr td.offset-left-60,
table tr th.offset-left-60{
	padding-left: 60px;
	text-align: left;
}

.search-container{
	background: url(../images/search_bg_img.png) no-repeat 97% 50% transparent;
	margin:0;
	padding:20px 0px 45px;
}

.search-container .field-container{
	margin-bottom: 28px;
}

.search-result-table{
	margin-bottom: 0;
}

.search-result-header{
	background: #f7acb3;
	padding:0 1em;
}
.dc-search-result-header{
	background: #da7bac;
	padding:0 1em;
}

.search-result-header h3{
	font-size: 15px;
	color:#9a4f56;
	line-height: 3.5em;
	font-weight: bold;
}

.dc-search-result-header h3{
	font-size: 15px;
	color:#3c3c1b;
	line-height: 3.5em;
	font-weight: bold;
}

table.search-result-table tr th{
	background: #ffbdc3;
    line-height: 1em;
    padding: 0.8em 0em 0.8em 1em;
    font-size: 15px;
    color: #9a4f56;
    font-weight: normal;
    border-top:none;
    border-bottom: 0;
}


table.dc-search-result-table tr th{
	background:#DB8BAB;
    line-height: 1em;
    padding: 0.8em 0em 0.8em 1em;
    font-size: 15px;
    color: #3c3c1b;
    font-weight: normal;
    border-top:none;
    border-bottom: 0;
}
table.search-result-table tr td{
	background:#f9c3c8;
    line-height: 1.4em;
    padding: 0.65em 1.2em;
    font-size: 13px;
    color: #9a4f56;
    border-top:none;
    border-bottom: solid 1px #e9b3b8;
}

table.search-result-table tr.stripe td{
	background:#ffd0d4;
}

table.dc-search-result-table tr td{
	background:#e58cb9;
    line-height: 1.4em;
    padding: 0.65em 1.2em;
    font-size: 13px;
    color:#3c3c1b;
    border-top:none;
    border-bottom: solid 1px #e9b3b8;
}

table.dc-search-result-table tr.stripe td{
	background:#fcadd3;
}

.capitalize p,
.capitalize span,
.capitalize h1{text-transform:capitalize;}

table.search-result-table tr th.s-no{
    width: 5%;
    text-align:center;
}
.s-no{
	text-align:center;
}
table.search-result-table tr th.result-title{
    width: 19%;
}

table.search-result-table tr th.result-description{
    width: 28%;
}

table.search-result-table tr th.dob{
    width: 8%;
}

table.search-result-table tr th.address{
    width: 13.5em;
}

.assessment-container{
	background: url(../images/search_bg_img.png) no-repeat 97% 50% transparent;
	margin:0;
	padding:20px 0px 45px;
}

.assessment-container .field-container{
	margin-bottom: 28px;
}

.assessment-result-table{
	margin-bottom: 0;
	 table-layout:fixed;
}

.assessment-result-header{
	background: #96C247;
	padding:0 1em;
}

.assessment-result-header h3{
	font-size: 15px;
	color: #266C24;
	line-height: 3.5em;
	font-weight: bold;
}

table.assessment-result-table tr th{
	background: #AFDF7D;
    line-height: 1em;
    padding: 0.8em 0em 0.8em 1em;
    font-size: 15px;
    color: #266C24;
    font-weight: normal;
    border-top:none;
    border-bottom: 0;
}

table.assessment-result-table tr td{
	background:#9DD266;
    line-height: 1.4em;
    padding: 1.2em;
    font-size: 13px;
    color: #266C24;
    border-top:none;
    word-wrap:break-word;
    white-space:normal;
}

table.assessment-result-table tr.stripe td{
	background: #AFDF7D;
}

table.assessment-result-table tr th.ass-no{
    width: 20%;
}

table.assessment-result-table tr th.result-title{
    width: 25%;
}

table.assessment-result-table tr th.result-description{
    width: 35%;
}

table.assessment-result-table tr th.action{
    width: 20%;
}




.btn-container ul li{
	width:50%;
	float:left;
	text-align: center;
	vertical-align: middle;
}

.btn-container ul li a{
	display: block;
	padding: 25px 0;
	text-decoration: none;
	font-size: 20px;
	color:#ffffff;
}

.btn-container ul li.green-btn a{
	background: #80c438;
}

.btn-container ul li.blue-btn a{
	background: #019cd2;
}

.red-btn a.btn{
	background: #e20013;
	color:#fff;
	font-size: 20px;
	padding: 4px 22px;
	margin-top: -2px;
	margin-right: 2px;
}
.darkorange-btn a.btn{
	background:  #FC852D;
	color:#fff;
	font-size: 20px;
	padding: 4px 22px;
	margin-top: -2px;
	margin-right: 2px;
}

.green-btn a.btn{
	background: #266C24;
	color: #80C438;
	font-size: 20px;
	padding: 4px 22px;
	margin-top: -2px;
	margin-right: 2px;
}
.magenta-btn a.btn{
	background: #bf588c;
	color: #ffffff;
	font-size: 20px;
	padding: 4px 22px;
	margin-top: -2px;
	margin-right: 2px;
}


.invoice-container{width: 700px;height: auto;min-height: 100%;margin: 0 auto;padding-top: 50px;}
.invoice-container .container{max-width: 700px;}
/* sign_up container */
.required{color:red;font-weight:bold;}
.signup-container{width: 512px;height: auto;min-height: 100%;margin: 0 auto;padding-top: 100px;}
.signup-container .container{max-width: 512px;}
.signup-header{background:url("../images/signup_header_bg.png") no-repeat 0 0 #80c438;width: 512px;height: 178px;color: #266c14;line-height: 24px;}
.signup-header .logo{text-align: center;padding-top: 15px;}
.signup-header .company-name{font-weight: bold;text-align: center;font-size: 20px;margin-top: 10px;}
.signup-header .company-tagline{text-align: center;font-size: 20px;}
.signup-content{background: #EDE3D6;}
.signup-content .col-md-12{padding-right: 0;padding-left: 0;}
.signup-content .ecorp-form{margin-top: 40px;}
.signup-content .form-horizontal .form-group{margin-left: 30px;margin-right: 30px;}
#signupWrap .bootstrap-select.btn-group .btn .caret{background: url("../images/dropdown_icon_white.png") no-repeat scroll 9px 12px #80C438;}
#signupWrap .dropup .caret, #signupWrap  .navbar-fixed-bottom .dropdown .caret{border: none medium;}
#signupWrap .form-group a.pink{background: #F27575;border: none medium;margin: 0;padding:19px 0 13px;width: 50%;}
#signupWrap .form-group a.green{border: none medium;color: #FFF;margin: 0;padding: 19px 0 13px;width: 50%;}
#signupWrap .city button{padding-bottom: 7px;}
.signupfooter{background: #F4EAE2;}
.signupfooter p{color: #978C83;font-size: 13px;text-align: center;margin: 20px 0;}

/* footer */

#footerWrapper {
	width:100%;
    clear: both;
    height: 50px;
    position: relative;
    z-index: 10;
    bottom: 0;
    margin-top: -50px;
}

#footer{
	background:#fff;
	font-size: 12px;
	color: #978c83;
	text-align: center;
	padding:17px 18px;
	border-top:solid 1px #e1d8d1;
}

#footer p{
	font-family: Arial, sans-serif;
}

/* Custom Modal window and Bootstarp overrides*/

.more-details-popup .close{
	background: #f27575;
	padding: 14px 18px;
	margin-right: -48px;
	opacity:1;
	filter:alpha(opacity=100)
	font-size:26px;
	text-shadow: none;
	color: #dc3736;
}

.more-details-popup .modal-dialog{
	margin-left: auto;
	margin-right: auto;
}

.more-details-popup .modal-body{
	padding: 0;
}

.more-details-popup .modal-content{
	border-radius:0;
	box-shadow:none;
	border: 0;
}

.more-details-popup .modal-footer{
	padding:0;
	margin-top: 0;
}

.search-container .form-group{
	margin-bottom: 27px;
}

.search-container .btn,
.search-container .dropdown-menu,
.search-container .form-control{
	border-radius:0;
	background: #f9f2e8;
	border: solid 1px #ede3d6;
	box-shadow:none;
	color: #978c83;
}

.bootstrap-select.btn-group .btn .caret {
	background: url(../images/dropdown_icon.png) no-repeat 9px 12px #ede3d6;
    margin-top: 0px;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: middle;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    padding: 15.5px 17px;
}

.date-picker .btn{
	background: #EDE3D6;
	padding: 6px 8px;
}

/* E-Corp Page Form */
.ecorp-form{color: #978C83;padding: 5px 30px 0;}
.ecorp-form.centerform{float: none;margin: 40px auto 0;}
.ecorp-form .form-group{margin-bottom: 30px;}
.ecorp-form .form-group .col-sm-6{padding-right: 0;}
.ecorp-form .form-group label{text-align: left;}
.ecorp-form .form-group input, .ecorp-form .form-group .dropdown-menu, .ecorp-form .form-group .form-control, .ecorp-form .form-group .btn{
	background: #f9f2e8;
	border: solid 1px #e2dad0;
	border-radius: 0;
	box-shadow: none;
	color: #978c83;
	font-size: 13px;
}
.ecorp-form .form-group input:focus, .ecorp-form .form-group .dropdown-menu:focus, .ecorp-form .form-group .form-control:focus, .ecorp-form .form-group .btn:focus{box-shadow: none;}
.ecorp-form .form-group .green-btn a.green{
	background: #266C24;
	color: #80C438;
	width: 45%;
	padding: 4px 8px 2px;
	font-size: 20px;
	text-decoration: none;
	display: block;
	text-align: center;
}
.ecorp-form .form-group .green-btn a.pink{
	background: #D77575;
	color: #FFF;
	width: 45%;
	padding: 4px 8px 2px;
	font-size: 20px;
	text-decoration: none;
	display: block;
	text-align: center;
}
.ecorp-form textarea{height: 120px;resize: none;}

/* Form Errors */
.ecorp-form .form-control-feedback{display: none;}
.ecorp-form .has-error label{color: #978C83 !important;}
.ecorp-form .has-error input, .ecorp-form .has-error .selectpicker{border: 1px solid red !important;}
.ecorp-form .has-error .form-control-feedback{display: block;margin: 10px 0;color: red !important;}
.ecorp-form .form-group.has-error{margin-bottom: 0;}
.ecorp-form .captcha{border:1px solid #E2DAD0;width: 100%;}

.mb0{margin-bottom: 0;}
.ml16{margin-left: 16px;}
.lock-bg{background: url(../images/lock_bg_img.png) no-repeat scroll 90% 50% rgba(0, 0, 0, 0);}

/* Placeholders */
.ecorp-form .form-control::-webkit-input-placeholder {
   color: #CCC;
}

.ecorp-form .form-control:-moz-placeholder { /* Firefox 18- */
   color: #CCC;
}

.ecorp-form .form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #CCC;
}

.ecorp-form .form-control:-ms-input-placeholder {
   color: #CCC;
}

/* Pagination */

.pagination-container .pagination{
	margin: 0;
}

.pagination-container .pagination > li > a,
.pagination-container .pagination > li > span {
    background-color: #e20013;
    border-bottom:none;
    border-top:none;
    color: #fff;
    font-size: 15px;
    padding: 8px 15px;
}

.pagination-container .pagination > li > a:hover,
.pagination-container .pagination > li > span:hover,
.pagination > li > a:focus,
.pagination-container .pagination > li > span:focus {
    background-color: #e20013;
}

.pagination-container .pagination > li:first-child > a,
.pagination-container .pagination > li:first-child > span {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.pagination-container .pagination > li:last-child > a,
.pagination-container .pagination > li:last-child > span {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-right:none;
}

.pagination-container .pagination > .active > a,
.pagination-container .pagination > .active > span,
.pagination-container .pagination > .active > a:hover,
.pagination-container .pagination > .active > span:hover,
.pagination-container .pagination > .active > a:focus,
.pagination-container .pagination > .active > span:focus {
    background-color: #f7acb3;
    border-color:#fff;
    border-bottom:none;
    border-top:none;
    color: #e20013;
}

.pagination-container .greenpagination > li > a,
.pagination-container .greenpagination > li > span {
    background-color: #266C24;
    color: #fff;
}

.pagination-container .greenpagination > li > a:hover,
.pagination-container .greenpagination > li > span:hover,
.greenpagination > li > a:focus,
.pagination-container .greenpagination > li > span:focus {
    background-color: #266C24;
}

.pagination-container .greenpagination > .active > a,
.pagination-container .greenpagination > .active > span,
.pagination-container .greenpagination > .active > a:hover,
.pagination-container .greenpagination > .active > span:hover,
.pagination-container .greenpagination > .active > a:focus,
.pagination-container .greenpagination > .active > span:focus {
    background-color: #BDDF82;
    color: #266C24;
}

/* Commons */
.bbgreen{border-bottom: 2px solid #5f9c1f;}
.pr15{padding-right: 15px;}

/* 404 */
#container-wrapper.page-not-found-wrapper{background: #F4EAE2;min-height: 85%;height: 85%;}
#page-not-found{display: table;height: 100%;position: relative;width: 355px;overflow: hidden;text-align: center;margin: auto;}
#page-not-found .container{#position: absolute;#top: 50%;display: table-cell;vertical-align: middle;}
#page-not-found-content{#position: relative;#top: -50px;}
#page-not-found-content h1{font-size: 180px;line-height: 140px;color: #EDE3D7;}
#page-not-found-content h3{font-size: 25px;color: #EDE3D7;}
#page-not-found a.light-green-btn{width: 150px;font-weight: bold;position: absolute;left: 100px;bottom: 40px;}

/* Lost Password */
#lostPassword .modal-dialog{width: 366px;max-width: 366px;border-radius: 0;left:7px;}
#lostPassword .modal-content{border: none medium;border-radius: 0;}
#lostPassword .modal-header{border: none medium;padding: 0 15px;}
#lostPassword  .close{background: #f27575;padding: 14px 18px;margin-right: -52px;opacity:1;filter:alpha(opacity=100);font-size:26px;text-shadow: none;color: #dc3736;}
#lostPassword .modal-body{padding: 0;}
#lostPassword .modal-footer{margin: 0;border: none medium;padding: 0 15px;}
#lost-password-header h5{background: none repeat scroll 0 0 #EDE3D6;color: #978C83;font-size: 15px;line-height: 20px;margin: 0 15px;padding: 17px;}

/* Invoice page */
.invoice-container{color: #978C83;margin-left: 205px;width: 614px;padding-bottom: 100px;}
.invoice-container.col-md-12, .invoice-container .col-md-12{padding-left: 0;padding-right: 0px}
.invoice-container .invoice-header{padding: 10px 25px 30px;}
.invoice-container .invoice-header table{width: 564px;}
.invoice-container .invoice-header table tr td{background: none repeat scroll 0 0 transparent;padding: 10px 0;text-align: left;}
.invoice-container .invoice-header table tr td.desc{width: 20%;}
.invoice-container .invoice-header table tr td.value{width: 30%;}
.invoice-container .invoice-detail-header{background: none repeat scroll 0 0 #EDE3D6;padding: 20px 25px;}
.invoice-container .invoice-detail-header h4{background: url(../images/rupee_tiny.png) left center scroll no-repeat transparent;padding-left: 25px;}
.invoice-container .invoice-detail{background: none repeat scroll 0 0 #F9F2E8;}
.invoice-container .invoice-detail table{width: 614px;text-align: center;font-size: 14px;}
.invoice-container .invoice-detail table tr{border-bottom: 1px solid #EDE3D6;}
.invoice-container .invoice-detail table tr td{background: none repeat scroll 0 0 transparent;padding: 10px 0;text-align: left;}
.invoice-container .invoice-detail .invoice-payment{height: 95px;}
.invoice-container .invoice-detail .invoice-payment p.amount{background: url(../images/rupee_large.png) left center scroll no-repeat transparent;font-family: "Istok Web",Arial,sans-serif;font-size: 35px;font-weight: bold;width: 240px;text-align: left;margin-top: 16px;padding-left: 30px;padding-top: 10px;}
.invoice-container .invoice-detail .invoice-payment p.payable{font-family: "Humanst521LtBTLight",Arial,sans-serif;font-size: 45px;width: 370px;text-align: left;padding-left: 30px;margin-top: 20px;}
.invoice-container .invoice-detail .invoice-buttons a.back{background: none repeat scroll 0 0 #F27575;display: block;color: #FFF;font-size: 18px;padding: 25px 0 20px;text-align: center;}
.invoice-container .invoice-detail .invoice-buttons a.pay{background: none repeat scroll 0 0 #019CD2;display: block;color: #FFF;font-size: 18px;padding: 25px 0 20px;text-align: center;}
.invoice-container .invoice-detail .invoice-buttons a:hover{text-decoration: none;}

/* Invoice Receipt */
.grey-bg{background: none 0 0 scroll repeat #F4EAE2;}
.grey-bg .row{margin-left: 0;margin-right: 0;}
.invoice-receipt-container{width: 614px;overflow: hidden;}
.invoice-receipt-container .receipt-content{background: url(../images/bg-w1.png) 0 0 scroll repeat transparent;}
.invoice-receipt-container .receipt-content .receipt-header{border-bottom: 1px dotted #978C83;padding: 10px 0 20px;text-align: center;}
.invoice-receipt-container .receipt-content .receipt-header h2{color: #266C14;font-family: "Istok Web",Arial,sans-serif;font-size: 22px;margin-top: 5px;font-weight: bold;text-align: center;}
.invoice-receipt-container .receipt-content .receipt-header p{color: #266C14;font-family: "Humanst521LtBTLight",Arial,sans-serif;font-size: 22px;font-weight: bold;text-align: center;}
.invoice-receipt-container .receipt-content h2.header{background: none 0 0 scroll repeat transparent;;color: #978C83;padding: 10px 30px;font-size: 22px;}
.invoice-receipt-container .receipt-content h2.headerRupee{background: url(../images/rupee_icon.png) 30px center scroll no-repeat transparent;color: #978C83;font-size: 22px;padding: 10px 60px;}
.invoice-receipt-container .receipt-content table.head{color: #978C83;width: 614px;margin: 10px 0 0 30px;}
.invoice-receipt-container .receipt-content table.head tr td{background: none repeat scroll 0 0 transparent;padding: 10px 0;text-align: left;}
.invoice-receipt-container .receipt-content table.head tr td.desc{width: 20%;}
.invoice-receipt-container .receipt-content table.head tr td.value{width: 30%;}
.invoice-receipt-container .receipt-content table.head tr td.desc.pb25{padding-bottom: 25px;}
.invoice-receipt-container .receipt-content table.head tr td.value.pb25{padding-bottom: 25px;}
.invoice-receipt-container .receipt-content table.details{border-top: 1px dotted #978C83;border-bottom: 1px dotted #978C83;color: #978C83;width: 614px;text-align: center;font-size: 14px;}
.invoice-receipt-container .receipt-content table.details tr{border-bottom: 1px solid #EDE3D6;}
.invoice-receipt-container .receipt-content table.details tr.border{border-bottom: 1px dotted #978C83;}
.invoice-receipt-container .receipt-content table.details tr.noborder{border: none medium;}
.invoice-receipt-container .receipt-content table.details tr td{background: none repeat scroll 0 0 transparent;padding: 10px 0;text-align: center;}
.invoice-receipt-container .receipt-content .receipt-payment-details{padding: 30px 0 30px 30px;}
.invoice-receipt-container .receipt-content .receipt-payment-details .payment-details-top{width: 584px;}
.invoice-receipt-container .receipt-content .receipt-payment-details .payment-details-top p{color: #978C83;width: 292px;font-size: 20px;text-align: left;}
.invoice-receipt-container .receipt-content .receipt-payment-details .payment-details-bottom{width: 584px;}
.invoice-receipt-container .receipt-content .receipt-payment-details .payment-details-bottom p{color: #978C83;width: 292px;font-size: 40px;font-weight: bold;text-align: left;}
.invoice-receipt-container .receipt-content .receipt-payment-details .payment-details-bottom p.money{background: url(../images/rupee_large.png) left center scroll no-repeat transparent;padding-left: 30px;}
.grey-bg table.buttonsContainer{width: 554px;margin: 50px 30px 20px;}
.grey-bg table.buttonsContainer tr td{background: none repeat scroll 0 0 #F4EAE2;width: 454px;}
.grey-bg table.buttonsContainer tr td.home{width: 100px;}
.grey-bg table.buttonsContainer tr td a{display: block;font-size: 20px;padding: 10px 0 8px;text-align: center;}
.grey-bg table.buttonsContainer tr td a:hover{text-decoration: none;}
.grey-bg table.buttonsContainer tr td.print a{background: none repeat scroll 0 0 #D77575;color: #FFF;width: 170px;}
.grey-bg table.buttonsContainer tr td.home a{background: none repeat scroll 0 0 #80C438;color: #266C14;width: 93px;}
.mt50{margin-top: 50px;}

/* Info */
#container-wrapper.general-info-wrapper{background: #F4EAE2;min-height: 85%;height: 85%;}
#general-info{display: table;height: 100%;position: relative;width: 650px;overflow: hidden;text-align: center;margin: auto;}
#general-info .container{#position: absolute;#top: 50%;display: table-cell;vertical-align: middle;}
#general-info-content{#position: relative;#top: -50px;}
#general-info a.light-green-btn{width: 150px;font-weight: bold;position: absolute;left: 250px;bottom: 40px;}

/* media queries */

@media(min-width:1200px){ /* Large devices (large desktops, 1200px and up) */

    #wrapper{
    width: 1024px;
	}
	#container-wrapper{
    width: 1024px;
	}
	#header,#topNav,#mainContent,#footer{
	width:1024px;
	}

}
@media(min-width:992px){ /* Medium devices (desktops, 992px and up) */

	#wrapper{
    width: 1024px;
    background: url(../images/main_content_bg.jpg) repeat-y 0 0 transparent;
	}
	#container-wrapper{
    width: 1024px;
    background: #F4EAE2;;
	}
	#header,#topNav,#mainContent,#footer{
	width:1024px;
	}
	.field-container{
	width: 50%;
	}
.assess-field-container{
	width: 48%;
	margin-bottom:28px;
}
}
@media(min-width:768px){ /* Small devices (tablets, 768px and up) */

    #wrapper{
    width: 1024px;
    background: url(../images/main_content_bg.jpg) repeat-y 0 0 transparent;
    position: relative;
	}
	#header,#topNav,#mainContent,#footer{
	width:1024px;
	}
	.sidebar-right,
	.sidebar-left{
	width: 19.98%;
	}
	.sidebar-left{
	width: 205px;
	position: absolute;
	top:201px;
	z-index: 9;
	}
	.sidebar-right-wrap .sidebar-right-content{
		 width: 204px;
	}
	.sidebar-left-wrap .sidebar-left-content{
		 width: 203px;
	}
	#topNav .topnav-left{
	width: 20%;
	}
	#topNav .topnav-right{
		width: 20%;
	}

	#topNav .top-content{
		width:60%;
	}
	.content{
	width: 60%;
	margin-left: 205px;
	}
	.col-md-9.content{
		 width: 80%;
	}
	.total-pending {
    margin-left: 205px;
    width: 819px;
	}
	#containerMobile {
	background:none;
    left: 0;
    overflow: hidden;
    width: 1024px !important;
    transform: translate(0px, 0px) translateZ(0px) !important;
	}

}
@media(min-width:768px) and (max-device-width : 992px){ /* Small devices (tablets, between 768px and 992px) */
	#container-wrapper{
    width: 768px;
    background: #F4EAE2;
    position: relative;
	}
}

@media(max-width:767px){ /* Extra small devices (phones, less than 768px)*/

	#wrapper{
    background: #EDE2D9;
	}
	#containerMobile {
	background:#F4EAE2;
	border-left: 1px solid #E1D8D1;
	}
	#lostPassword .modal-dialog{
	margin: 20px auto;
	}
	#topNav .top-content p{
    line-height: 1em;
	}
	#topNav .topnav-right {
    background: #659c25;
	}
	#topNav ul li {
    float: right;
    text-align: center;
	}
	.homepage-content {
    overflow-y: auto;
    position: static;
    width: 100%;
    height: auto !important;
	}
	.total-pending {
    font-size: 30px;
	}
	.total-pending .total-pending-title{
	padding-top: 32px;
	}
	.total-pending .total-pending-amount{
	background: url("../images/sm-rupee-icon.png") no-repeat 0 40px;
    padding-top:32px;
    padding-left: 20px;
	}
	.content {
    background: none repeat scroll 0 0 #F4EAE2;
    margin: 0;
    padding: 0;
	}
	.add-new a {
    float: right;
	}
	header.primary {
    position: absolute;
	}
	header.primary .icon {
    background: url("../images/menu-icon.png") no-repeat 35px 35px #266c14;
    color:#fff;
    font-weight: bold;
    font-size: 51px;
    cursor: pointer;
	}
	#topNav .top-content {
    padding-left: 125px;
	}
	.orange-btn a{
	padding:6px 9px 4px;
	}
	.orange-btn a span {
  	display: none;
	}
	.orange-btn a:after {
	  content: '+';
	  font-family: Arial, sans-serif;
	  font-size: 21px;
	}
	table.pending-list tr td {
	padding: 0.53em 0.4em;
	}
	table.pending-list td.view-details {
    width: 5%;
	}
	.sidebar-right {
    border-left: none;
	}
	.navigation {
    width: 260px;
	}
	.sm-user-container{
	background: #f4eae2;
	}
	.sm-user-container .user-name a{
	font-family:"Istok Web", Arial, sans-serif;
	color: #266c14;
    display: inline-block;
    font-size: 18px;
    margin-left: 5px;
    margin-top: 25px;
    text-decoration: none;
    font-weight: bold;
	}
	.sm-user-container .logout a {
    background: none repeat scroll 0 0 #80C438;
    display: block;
    padding: 36.5px;
	}
	.search-container{
	background: none;
	}
	.lock-bg{
	background: none;
	}
	.field-container {
    width: 50%;
    float: left;
	}
	.more-details-popup .close {
    margin-left: 10px;
    margin-right: 0;
    position: relative;
    z-index: 999;
	}
	#lostPassword  .close {
    margin-left: 10px;
    margin-right: 0;
    position: relative;
    z-index: 999;
	}
	#loginWrap {
    top: 20px;
	}
	.signup-container{
	padding-top: 20px;
	width: 100%;
	}
	.signup-container .row{
	margin-right: 0;
	margin-left: 0;
	}
	.signup-header{
	width: 100%;
	}

}


@media(max-width:480px) {
	#page-not-found a.light-green-btn{bottom: 20px;}
	#topNav .top-content {
    font-size: 14px;
	}
	#lostPassword .modal-dialog, .login-content input[type="text"]{
	width: 85%;
	}
	.total-pending {
    font-size: 20px;
	}
	.total-pending .total-pending-amount{
	background: url("../images/sm-rupee-icon.png") no-repeat 0 10px;
	padding-left: 20px;
	}
	.total-pending .total-pending-title {
    line-height: 30px;
    padding-top: 20px;
	}
	.total-pending .total-pending-amount {
	padding-top:0;
    padding-left: 18px;
    background-position: 0 5px;
    line-height: 28px;
    float: left !important;
	}

	table.pending-list td.tax-type {
    width: 28%;
	}
	.navigation {
    width: 260px;
	}
	.field-container {
    width: 100% !important;
	}
	table.search-result-table tr th {
    padding: 0.8em 0 0.8em 0.2em;
	}
	table.search-result-table tr td {
    padding: 0.65em 0.2em;
	}
	.assessment-header h3,
	.assessment-header p {
    color: #978C83;
    font-size: 14px;
    line-height: 3.5em;
	}
	.assessment-header p {
	clear: both;
    float: left !important;
    padding-left: 44px;
    margin-top: -30px;
	}
	.more-details-popup .assessment-header h3,
	.more-details-popup .assessment-header p {
    color: #978C83;
    font-size: 12px;
    line-height: 2.5em;
	}
	.more-details-popup .assessment-header p {
	clear: both;
    float: left !important;
    padding-left: 44px;
    margin-top: -30px;
	}
	.orange-btn a {
    padding: 6px 4px 4px;
	}

}