body {
    background: #F3F4F8;
    font-size: 13px;
}
a {
    text-decoration: none;
    -webkit-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}
.wrapper-md.animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.container, .container-head  {
    max-width: 100%;
    margin: 0 auto;
}
.main-container .container{
    padding-top: 20px;
    min-height: 500px;
}
.app .container {
    background: #FFF;
    padding: 50px 25px 30px;
}
.app {
    min-height: 100%;
}
.app .container.project-details {
    background: #F3F4F8;
}
.app-header .container{
    padding: 0 30px;
}
.app-header {
    position: fixed; z-index: 98; width: 100%; top: 0;
}
header, .navbar  {
    padding: 3px 0;
    background: #FFF;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
header h1 {
    float: left;
    font-size: 18px;
    margin: 4px 0 0px;
}
header h1 a {
    color: #f05050;
}
header h2 {
    float: right;
    font-size: 12px;
    font-weight: normal;
    margin-top: 5px;
}
.username img {vertical-align: middle; margin-right: 5px;}
.username a {margin-left: 10px; text-decoration: underline; }
.header-title {
    background: rgba(0,0,0,0.2);
    background: url(../img/rev-img.jpg) no-repeat 0 0;
    background-size: cover;
    color: #FFF;
    margin: -50px -25px 30px;
    padding: 00px 30px 0px;
}
.header-title-link {
    margin: -0px -25px 20px;
    padding: 15px 25px;
    background: #FFF;
}
.header-title-link .require {
    float: right;display: block;
    background: #D2A546;
    color: #FFF;
    padding: 7px 15px;
    border-radius: 3px;
}
.header-title h2 {
    padding: 55px 0; color: #333;     font-size: 35px;
}
.nav {
    overflow: hidden;
}

.nav li a {
    color: #333;
    padding: 15px 25px 15px 10px;
    display: block;
    width: 100%;
}
.nav li a .glyphicon {
    margin-right: 10px;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #0E255E;
    color: #FFF;
}
.main-container {
    padding-top: 51px;display: flex
}
.dashboard_details{
    display: flex;width: 100%
        /*min-height: 100%;*/
        /*min-height: 630px;*/
}
.status_title {    float: left;background:rgba(0,0,0,0.5);padding: 7px 30px;margin-top: -34px;border-radius: 5px 5px 0 0;display: block;}
.login-form {
    margin: 0 auto;
    width: 400px;
    background: #FFF;
    padding: 40px 50px;
}

.project-list h2 {
    margin-bottom: 10px;
}
.project-list li {
    margin-bottom: 10px;
}
.project-list li a:hover {
    text-decoration: underline;
    color: #0E255E;
}
.wrapper-md {background: #FDFDFD;    min-height: 620px;}
.col-5 {float: left; width: 50%;}

.unver {padding-right: 10px;}
.parst {padding-left: 10px;}
.parst .table-responsive {min-height: 212px;}


.table-responsive table {font-family: Arial, sans-serif;min-height: 200px;     width: 100%;}
.table-responsive .list_form_wrapper table {min-height: initial; background: #FFF; margin: 0 2% 0%; width: 96%;}
.table-responsive .text-left {}
.table-responsive .text-center {text-align: center;}
.table-responsive .text-left label {    float: left;     margin-top: 5px;}
.table-responsive .text-right {}
.table-responsive .table > tfoot > tr > td {padding: 5px 15px;}
.table-responsive .pagination {float: right; margin: 0;}
.table-responsive .search_panel {float: right; margin: 10px;}
.table-responsive .search_panel li {float: left; margin: 0 0 0 20px; position: relative; border: 0;}
.table-responsive .search_panel label {float: left; margin: 6px 10px 0 0;}
.table-responsive .search_panel input,
.table-responsive .search_panel select {float: left;}
.table-responsive .search_panel input {width: 195px;}
.table-responsive .search_panel .btn-choose {top: 0;}
.table-responsive .search_panel select {width: 200px;}
.table-responsive .search_panel img {position: absolute; margin: 5px 0 0 -29px;}
.table-responsive .form-group {float: left; width: 30%; margin: 10px 15px;}
.table-responsive .form-group.btn_group {float: none; width: 100%; margin: 10px 15px;}
.table-responsive .panel-heading {font-weight: normal;}
.show_count {width: 75px;  float: left; margin-left: 10px; height: 25px; padding: 5px 7px; font-size: 12px;}
.show_count_label {float: left; margin: 3px 0 0 10px; }
.pagination-wrap .count_wrap {float: left; width: 30%; }
.pagination-wrap .pagi_wrap {float: right; width: 70%; }
.pagination-wrap .pagi_wrap .pagination {float: right; margin: 0; }
.footer-pagination-wrapper.pagination-wrap {padding: 10px 10px; }


.jjform .form-group {width: 50%;}
.jjform .form-group label {float: left; width: 80px; margin: 8px 10px 0 0;}
.jjform .form-group select {float: left; width: 200px; margin-right: 15px;}
.jjform .form-group .auto-compl_wrapper {float: left; width: 200px; position: relative;     z-index: 9; }
.jjform.req-edit .form-group .form-control {width: 50%;}

.material-form .form-group {width: 40%;}
.material-form .btn_group {clear: both;}
.material-form .min-stock label {width: 100%; display: block;}
.material-form .min-stock .form-control {width: 45%; float: left; margin-left: 10%;}
.material-form .min-stock input.form-control {margin-left: 0%;}

.pagination-wrap {padding: 10px 10px 10px 0;}

.list_form_wrapper {background: #F5F5F5;}
.list_form_wrapper.no-data {text-align: center; padding: 20px 0;}
.list_form_wrapper ul { position: relative; overflow: hidden; cursor: pointer; }
.list_form_wrapper ul:after {
    position: absolute;
    top: 45%;
    right: 40px;
    width: 0px;
    height: 0px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #252525; }
.list_form_wrapper ul.open:after {
    border-top: 5px solid #252525;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}
.list_form_wrapper ul li { float: left; font-weight: bold; width: 33%; padding:20px 15px;}
.list_form_wrapper.purchase_list ul li { float: left; font-weight: bold; padding:20px 15px; width: 16%;}
.req-stock .list_form_wrapper ul { width: 100%;}
.req-stock .list_form_wrapper ul li { width: 20%;}
.list_form_wrapper ul li .list_info_title { font-weight: normal;    display: block;    margin-bottom: 3px; }
.list_form_wrapper table th { font-weight: bold; }
.list_form_wrapper.requirement-list ul li { width: 20%; }
.delivery-wrapper .list_form_wrapper ul li {width: 25%;}

.add_wrapper {padding: 0 0 30px;}
.add_head {}
.add_head li span,
.add_list li span {padding: 5px 10px;display: inline-block; border-right: 1px solid #F9F9F9; width: 100px; }
.add_head li span:first-child,
.add_list li span:first-child {width: 200px;}
.add_head li,
.add_list li {float: left;clear: both;}

.add_list {}
.add_list li {}
.add_list li span {}

.loader-icon {text-align: center;padding: 30px 0;}

.edit_proj a {display: inline-block;    background-color: #0E255E;
              padding: 4px 15px 2px;
              border-radius: 3px;
              color: #FFF;
              font-size: 12px;}

input[type="file"] {background-color: #fff;background-image: none;border: 1px solid #ccc;     padding: 5px 7px;border-radius: 3px;}
.ui-grid-canvas .has-error,
input.has-error,
select.has-error,
textarea.has-error,
.autocomplete:required[required],
.ng-submitted .has-empty {border: 1px solid rgb(255, 149, 160);}

label.has-error {color: rgb(255, 149, 160); display: none;}

.project_requirement h3 {
    margin: 25px 0 10px;     font-size: 24px;
}
.project_requirement h4 {font-size: 16px;}
.proj_dates div {width: 200px; float: left; margin-top: 15px;}
.project_requirement .revision_comments {clear: both;}
.project_requirement .revision_comments .comnts_date {display: block; clear: both; font-style: italic; }
.app-aside, .navbar-header {
    width: 16%;
}
.add-form {width: auto; max-width: none;}
.add-form .form-group {     width: 310px; max-width: 100%; float: left;  margin-right: 20px; }
.add-form .form-group.full_w { width: 640px; }
.add-form .form-group.form-group_small { width: 370px; }
.add-form .form-group.form-group_x_small { width: 100px; }
.add-form .form-group .inner input { margin-right: 50px; }
.add-form .resource_img { margin-bottom: 20px; clear: both; }
.add-form form { max-width: 670px;     float: left;}
.add-form label.read_only { display: block; color: #CCC;}
.clear_b {clear: both;}

.map {float: left; width: 415px}
.map iframe {width: 100%;}

.file_upload_wrapper {margin: 20px 0;}
.file_upload_wrapper ul {margin-bottom: 10px;    border-bottom: 1px solid #F7F7F7;
                         padding-bottom: 10px;}
.file_upload_wrapper ul li { float: left; margin-right: 15px;}
.file_upload_wrapper .file_name {    width: 170px;}
.file_upload_wrapper .file_name.img { height: 60px;  overflow: hidden;   width: 60px;   border: 1px solid #dfdfdf;}
.file_upload_wrapper .file_name img {     max-width: 300%; width: auto; }
.file_upload_wrapper .file_size {    width: 70px;}
.file_upload_wrapper .file_upload_falied {    width: 170px; color:#ff0000;}
.file_upload_wrapper .file_prog {width: 120px; height: 13px; margin-top: 3px;    background: #dfdfdf;}
.file_upload_wrapper .file_prog .bg-info {width: 5px; height: 13px; }
.file_upload_wrapper .file_canc {margin-right: 5px;}
.file_upload_wrapper .file_edit {}
.file_upload_wrapper .file_cmnt {clear: both; margin: 10px 0 0;}
.file_upload_wrapper .file_cmnt_name {width: 300px;}
.file_upload_wrapper .file_cmnt_name textarea {    width: 100%; height: 60px; border: 1px solid #dfdfdf;  border-radius: 3px; padding: 5px 10px;}
.file_upload_wrapper .file_cmnt textarea {    color: #555; background-color: #fff; border: 1px solid #ccc;     border-radius: 3px;  padding: 5px;  height: 60px; width: 340px;}
.file_upload_wrapper .file_name.img { background-size: 25px;}

.content-area {
    width: 84%;
    float: left;
    background: #FFF;
}
.bg-light.lter.wrapper-md {
    margin-top: 0;
}
.bg-light.lter {
    position: fixed;
    z-index: 2;
    width: 84%;
}
.h3 {
    font-size: 24px;
}
.panel-heading {
    padding: 15px; font-weight: bold;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
}
.panel-default {
    border-color: #dee5e7;
}
.head_right {float: right;}
.head_right .sea {font-weight: normal; float: left; margin-right: 82px; margin-top: 4px; position: relative; }
.head_right .sea label {    vertical-align: text-bottom;}
.head_right .sea .form-control  {width: 200px; display: inline-block;vertical-align: bottom;}
.head_right .head-right-search {top: 11px;position: absolute;right: 6px;}
.delivery-edit .head_right .sea label {width: 60px;}

.dataTables_length select.input-sm { height: 30px; }
.dataTable th {text-align: left;    font-weight: normal;}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination > li {
    display: inline;
}
.pagination li.active a {
    background: #0E255E;     color: #FFF;
}
li.active > .auto .text-active {
    display: none !important;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}
.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.footer-pagination-wrapper {padding: 10px 20px 0; }
.select-total-list {float: left; width: 250px;}
.select-total-list label {float: left; margin: 8px 10px 0 0;}
.select-total-list .form-control {float: left; width: 150px;}
.foot-pagination {float: right; width: 50%; text-align: right;}

.row {overflow: hidden;}
.table-responsive .col-sm-6 {width: 50%; float: left; padding: 0 15px;}
.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
div.dataTables_filter input {
    margin-left: 0.5em;
}
div.dataTables_filter {
    text-align: right;     margin: 0 10px;
}
input[type="checkbox"]{vertical-align: middle}
.form-control.checkbox {}

.input-sm {
    height: 18px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.dataTables_filter .search-fields input {
    width: 220px;
}
.dataTables_filter .search-fields {
    float: right;
    margin-left: 20px;
}
.panel .dataTables_wrapper {
    padding: 13px 0 10px;
}
.panel li{
    border-top: 1px solid #F9F9F9;
}

.panel li a {
    padding: 3px 10px;
    display: block;
}
.panel li a span {
    display: inline-block;
    width: 24.5%;
}
.panel li a span {

}
.table-head li {
    border-top: 1px solid #eaeff0;
    border-bottom: 1px solid #eaeff0;
    margin-bottom: -1px;
    position: relative;
}
.table-head a {
    cursor: default;
    font-weight: bold;
}
.edit_proj {text-align: center; text-decoration: underline;}

.container-head li{
    float: left;
}
.container-head li a{
    border-radius: 50px;
    padding: 10px 25px;
}
.add_button {
    display: inline-block;
    float: right; font-weight: normal;
    background-color: #0E255E;
    padding: 7px 15px;     margin-left: 10px;
    border-radius: 3px;
    color: #FFF;
}
.add-dash    {margin-top: -7px;}
.add_button:hover,
.edit_proj a:hover {
    color:#FFF;
    background: #F9040E;
}
.add_product {float: none; margin-top: 35px;}
.order-add .add_product {float: right; margin: 35px 15px 0;}
.delivery-add .add_product,
.delivery-edit .add_product {margin: 5px 15px 0;}
.table-title {
    float: left;
}
.add-form textarea {
    height: 80px;
}
.btn_group {text-align: center;}
.btn_group .btn {margin: 0 0px 0 6px;}

.delet-btn {background: transparent; color: #FF0045;}
.contact-edit-btn {margin-left: 18px;    background: #FFF;}
.rivision-wrapper .add-comments .form-wrapper { width: 420px; }
.rivision-wrapper .add-comments textarea{ height: 60px; }
.btn-wrapper {background: #E5E8EF; text-align: center; padding: 20px;}
.btn-wrapper .btn { margin: 0 20px;     padding: 6px 35px 7px; }
.form-group.btn-wrapper .btn { padding: 6px 20px 7px; margin: 0 5px; }
.btn-wrapper .btn-approve {     background: #24AD45; color: #FFF; }
.btn-wrapper .btn-revi {     background: #FFFFFF; color: #333;     border: 1px solid #D6D6D6; }
.btn-loader {background-image: url(../img/loading.gif) !important;
             background-repeat: no-repeat !important;
             background-position: 5px 6px !important;
             background-size: 20px 20px !important;
             cursor: default;
}

.approve_check input,
.approve_check label {float: left; display: inline;}
.approve_check label {width: 96%;}
.approve_check input {margin: 4px 3px 0 0;}

.form-group {position: relative; }
.btn-choose {background: #BBD4E9; position: absolute;top: 23px;right: 0px;}
.head_right .btn-choose {top: 0px;}
.dropdown-menu {position: absolute;
                background: #FFF; border-radius: 0;
                z-index: 9;
                width: 310px;
}
.dropdown-menu table {width: 100%;}
.dropdown-menu table .btn {border-radius: 0;}
.dropdown-menu li {text-align: center;}

.msg-handling {    position: absolute; top: 0; text-align: center;     width: 100%; }
.msg-handling p {display: inline-block;
                 background: #7CC789;
                 border-radius: 0 0 3px 3px;
                 padding: 5px 10px;
                 color: #FFF;}

.msg-handling p.warning {background: #C7AA7C;}
.msg-handling p.error {background: #C77C7C;}

/********    404    *******/
#fof{display:block; width:100%; padding:150px 0; text-align:center;}
#fof .hgroup{display:block; width:53%; margin:0 auto; padding:0;}
#fof .hgroup h1, #fof .hgroup h2{margin:0 20px; padding:0; display: inline-block; text-transform:uppercase;}
#fof .hgroup h1{margin-top: -75px; font-size:200px;}
#fof .hgroup h2{font-size:60px;}
#fof .hgroup h2 span{display:block; font-size:30px;}
#fof p{margin:25px 0 0 0; padding:0; font-size:16px;}
#fof p:first-child{margin-top:0;}
.row2 a {
    color: #FF9900;
}
.download{width:30px;background: #f2f2f2;float: left;position: relative;padding: 5px}
.preview{margin-left:10px;width:40px;background: #f2f2f2;float: left;position: relative}
.projectpath{margin-top: 5px;width:250px;background: #ffffff;float: right;color:#000000;padding-left:10px; border-radius: 0px 4px 4px 0px;;border: 1px solid #b3b3b3;border-left: 0}
.copybutton {margin-top: 5px;width:70px;background-color:#f3f3f3;float: right;padding: 6px;border: 1px solid #b3b3b3; border-radius: 4px 0px 0px 4px;}
.projectbox{with:200px;background: -webkit-linear-gradient(#f5f5f5,#f1f1f1);border:1px solid rgba(0,0,0,0.1);float: right;color: #a6a6a6;padding: 5px 0px}


.btn_grn {background-color: #008E20;}
.btn_orng {background-color: #fc7279;
           background-image: -webkit-linear-gradient(bottom left, #fc7279 10%, #ff7b9c 65%, #ffc019 125%);
           background-image: linear-gradient(to top right,#fc7279 10%, #ff7b9c 65%, #ffc019 125%);
}

.order_mail_send {background: #FFF; padding: 20px;}
.email_send {float: right; margin: 10px 20px;}
.order_mail_send p {margin: 10px 0px 30px;}

.model_overlay {position: fixed; z-index: 99; width: 100%; height: 100%; background: rgba(0,0,0,0.5); top:0; left:0; }
.model_popup { position: absolute; z-index: 100; top: 10%; left: 50%; width: 650px; margin-left: -325px; }
.category-add-pop {width: 350px; margin-left: -275px;}
.add-cat-pop {position: absolute; top: 0; left: 0; background: #FFF; padding: 20px; width: 100%;}
.popup-close  {position: absolute;     top: 0px;
               right: 0;
               background: #FFF;
               width: 25px;
               height: 25px;
               border-radius: 100%;
               text-align: center;
               line-height: 26px;
               font-size: 12px;
               border: 1px solid #ccc;}
.second-pop  { top: -10px; right: -10px; z-index: 1;}
.manu-add {    width: 650px;margin-left: -385px;}
.model_popup.manu-add .form-group { width: 50%; padding: 10px 0;}
.model_popup.manu-add .btn_group { clear: both; }
.cat-save {height: 180px;}
.cat-edit {height: 220px;}
.cat-edit .popup-close {top: -10px; right: -10px;}

.autocomplete {position: relative;    z-index: 99;}
.autocomplete .autocomp_drop {position: absolute; width: 100%; top: 33px;}
.autocomplete .autocomp_drop .dash-list {border: 1px solid #ccc; border-radius: 0 0 3px 3px; background: #FFF; }
.autocomplete .autocomp_drop .dash-list li {border-top: 1px solid #ccc; padding: 5px 10px; cursor: pointer; }
.autocomplete .autocomp_drop .dash-list li:first-child {border-top: 0;  }

/** Stocks **/

.panel .tabs {  }
.panel .tabs li { float: left; font-weight: bold; }
.panel .tabs li a { padding: 10px 20px; }
.panel .tabs li a.active { border-bottom: 2px solid #ED0281; }


/** Print **/
.print-btn-wrap {width: 700px; margin: 0 auto;}
.print-page {width: 700px; margin: 0 auto;    font-size: 13px;}
.print-page strong,
.print-page span {display: block;}
.print-page .title {border-bottom: 1px solid; padding-bottom: 10px;}
.print-page .title img {float: left;}
.print-page .title strong {float: right; font-size: 16px;}
.print-page .com-address {width: 70%; float: left; margin: 20px 0;}
.print-page .invoice-date {width: 30%; float: left; margin: 20px 0;}
.print-page .invoice-date strong {width: 50%; float: left; }
.print-page table { text-align: center; border: 1px solid #C5C5C5; margin-bottom: 20px; width: 100%;}
.print-page table th { font-weight: bold; }
.print-page table th,
.print-page table td { border-right: 1px solid #C5C5C5;  padding: 7px 10px; }
.print-page table th { border-bottom: 1px solid #C5C5C5; }
.print-btn { border: 0; background-color: #0E255E; color:#FFF; padding: 7px 15px; border-radius: 3px; margin: 20px auto; }
.print-page-top .app-header {display: none; }

.req-stock > tbody > tr > td {    padding: 0;}
.req-stock > tbody > tr > td a { display: block; padding: 8px 15px; }

.menu-add,
.cat-menu-add-btn {float: left;}
.menu-add {width: 75%;}
.cat-menu-add-btn {width: 25%; margin-top: 74px;}
.cat-menu-add-btn a {display: block;clear: both; float: left; width: 190px;text-align: center; margin: 37px 0 0;}

.category-form .form-group {width: 100%; margin: 0; padding: 10px 15px;}
.category-form .form-group label {width: 100%; }
.category-form .form-control {width: 80%;float: left;}
.category-form .add {font-size: 26px; margin: 4px 0 0 20px;}

@media print {
    .print-btn, .app-header { display: none; }
}






