


<div class="dashboard_details">
    <aside id="aside" class="app-aside hidden-xs bg-dark">

        <ul class="nav">
            <li data-ng-class="{'active': 'dashboard' === getActivePage()}" ui-scroll-to="app" >

                <a data-ui-sref="app.report1" class="auto" >
                    <i class="glyphicon glyphicon-dashboard icon"></i>
                    <span>Report 1</span>
                </a>
            </li>
        </ul>
    </aside>

    <div ui-view class="content-area">

    </div>
</div>



