



 




<div class="app-content-body fade-in-up req-stock " >
    <div class="wrapper-md animated fadeInUp clearfix " data-ng-controller="employeelist6Ctrl">
        <div class="panel panel-default ">
            <div class="panel-heading clearfix ">
                Employee List 6
                <div class="head_right clearfix ">
                    <div class="sea" style="margin-top: 0px;">
                        <label>Name</label>
                        <input type="text" name="" 
                               data-ng-model="searchFilter.value1"
                               class="form-control " data-ng-change="initTableFilter()" />
                        <span class="glyphicon glyphicon-search head-right-search "></span>
                    </div>
                    <div class="sea" style="margin-top: 0px;">
                        <label>SKU</label>
                        <input type="text" name="" 
                               data-ng-model="searchFilter.sku"
                               class="form-control " data-ng-change="initTableFilter()" />
                        <span class="glyphicon glyphicon-search head-right-search "></span>
                    </div>
                    <div class="sea" style="margin-top: 0px;">
                        <label>Type</label>
                        <input type="text" name="" 
                               data-ng-model="searchFilter.type"
                               class="form-control " data-ng-change="initTableFilter()" />
                        <span class="glyphicon glyphicon-search head-right-search "></span>
                    </div>
                    <a data-ui-sref="dashboard.material-add" ui-scroll-to="app" class="add_button add-dash" >Add New</a>
                </div>
            </div>
            <div class="table-responsive ">

                <table class="table table-striped b-t  dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th style="width: 90px;"  rowspan="1" colspan="1" >
                                Product ID
                            </th>
                            <th style="width: 167px;"  rowspan="1" colspan="1" >
                                Product Name
                            </th>
                            <th style="width: 100px;"   rowspan="1" colspan="1">
                                SKU
                            </th>
                            <th style="width: 100px;"   rowspan="1" colspan="1">
                                Min stock
                            </th>
                            <th style="width: 100px;"   rowspan="1" colspan="1">
                                Cur stock
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="employeeModel.isLoadingProgress">
                            <td colspan="5" class="text-left" style="padding: 0;" >
                                <p class="loader-icon" >
                                    <img alt="loader" src="img/loading.gif" />
                                </p>
                            </td>    
                        </tr>
                        <tr data-ng-if="employeeModel.list.length == 0">
                            <td colspan="5" class="text-center" >
                                -No Data Found-
                            </td>    
                        </tr>
                        <tr data-ng-repeat="employee in employeeModel.list">
                            <td>
                                <!--<a data-ui-sref="dashboard.projectdetails({projectkey: '{{projects.publicid}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">-->
                                {{employee.materialId}}
                                <!--</a>-->
                            </td>
                            <td>
                                <!--<a data-ui-sref="dashboard.projectdetails({projectkey: '{{projects.publicid}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">-->
                                {{employee.name}}
                                <!--</a>-->
                            </td>
                            <td>
                                <!--<a data-ui-sref="dashboard.projectdetails({projectkey: '{{projects.publicid}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">-->
                                {{employee.sku}}
                                <!--</a>-->
                            </td>
                            <td>
                                <!--<a data-ui-sref="dashboard.projectdetails({projectkey: '{{projects.publicid}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">-->
                                {{employee.minStock}} {{employee.uomName}}
                                <!--</a>-->
                            </td>
                            <td>
                                <!--<a data-ui-sref="dashboard.projectdetails({projectkey: '{{projects.publicid}}'})" ui-scroll-to="app" style="display:block; width:100% ;height: 100%">-->
                                {{employee.weight}} {{employee.uomName}}
                                <!--</a>-->
                            </td>
                        </tr>
                    </tbody>
                    <tfoot  data-ng-hide="employeeModel.list.length == 0" >
                        <tr>
                            <td colspan="1" class="text-left" >
                                <label>Show</label>
                                <select name = "perpage"
                                        ng-model="employeeModel.limit" 
                                        ng-options="page for page in pagePerCount" 
                                        class="form-control show_count"
                                        ng-change="initTableFilter()"
                                        ></select>
                            </td>
                            <td colspan="4" class="text-right">
                    <uib-pagination total-items="employeeModel.total" ng-model="employeeModel.currentPage" ng-change="getParStockList()" items-per-page="employeeModel.limit"  max-size="5" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
                    </td>
                    </tr>
                    </tfoot>
                </table>

            </div>
        </div>

    </div>
</div>



