






<div class="app-content-body fade-in-up"  data-ng-controller="report1Ctrl">


    <div class="bg-light clearfix">
        <h1 class="wrapper-sm font-thin h3 ">Report1</h1>
    </div>
    <div class="table-responsive ">
        <ul class="search_panel clearfix">

            <li>
                <label>From</label>
                <input name="startingdate" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}" 
                       ng-model="searchFilter.value1" is-open="startDateOpen" 
                       min-date="minDate" show-weeks="false" datepicker-options="dateOptions"  
                       required close-text="Close"  />
                <button type="button" class="btn btn-default btn-choose" ng-click="openDate(0)">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </li>
            <li>
                <label>To</label>
                <input name="endingdate" type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}" 
                       ng-model="searchFilter.value2" is-open="toDateOpen" 
                       min-date="minDate" show-weeks="false" datepicker-options="dateOptions"  
                       close-text="Close"  />
                <button type="button" class="btn btn-default btn-choose" ng-click="openDate(1)">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </li>
            <li>
                <button class="btn btn-success" 
                        data-ng-disabled="reportModel.isLoadingProgress" data-ng-class='{"btn-loader":reportModel.isLoadingProgress}' 
                        data-ng-click="getList()">
                    Generate
                </button>
            </li>
        </ul>

    </div>
    <div style="clear: both;"></div>
    <div class="wrapper-md ">

        <div ng-bind-html="reportModel.htmlData | trustedhtml ">

        </div>

    </div>
</div>
