 




<div class="app-content-body fade-in-up" >
    <div class="wrapper-md animated fadeInUp clearfix " data-ng-controller="staffAddCtrl">
        <div class="panel panel-default ">
            <div class="panel-heading clearfix ">
                Add New Staff
                <div class="head_right clearfix ">
                    <a data-ui-sref="dashboard.stafflist1" ui-scroll-to="app" class="add_button" >Back to Stafflist</a>
                </div>
            </div>
            <div class="wrapper-md ">
                <div class="  clearfix add-form form-wrapper">
                    <form name="staff_add_form" angular-validator-submit="createStaff()" class="form-horizontal clearfix " novalidate angular-validator >

                        <div class="form-group ">
                            <label>Name</label>
                            <input type="text"
                                   class="form-control" 
                                   name = "staffname"
                                   ng-model = "staffModel.name"
                                   placeholder="Name" 
                                   required
                                   />
                        </div>
                        <div class="form-group ">
                            <label>Email</label>
                            <input type="text"
                                   class="form-control" 
                                   name = "email"
                                   ng-model = "staffModel.email"
                                   placeholder="email" 
                                   required
                                   />
                        </div>
                        <div class="form-group ">
                            <label>Mobile</label>
                            <input type="text"
                                   class="form-control" 
                                   name = "mobileno"
                                   ng-model = "staffModel.mobileno"
                                   placeholder="Mobile Number" 
                                   required
                                   />
                        </div>
                        <div class="form-group ">
                            <label>Land Line</label>
                            <input type="text"
                                   class="form-control" 
                                   name = "landline"
                                   ng-model = "staffModel.landline"
                                   placeholder="Landline" 
                                   
                                   />
                        </div>
                        <div class="form-group full_w ">
                            <label>Address</label>
                            <textarea 
                                class="form-control" 
                                name = "address"
                                ng-model = "staffModel.address"
                                placeholder="Address" 
                                required
                                ></textarea>
                        </div>
                        <div class="form-group ">
                            <label>City</label>
                            <select class="form-control "
                                    name="manu_dropdown"
                                    data-ng-model="staffModel.city"
                                    >
                                <option value="">Sivakasi</option>
                                 <option value="">Madurai</option>
                                  <option value="">Trichy</option>
                                                            </select>
                        </div>
                         <div class="form-group ">
                            <label>State</label>
                            <select class="form-control "
                                    name="manu_dropdown"
                                    data-ng-model="staffModel.city"
                                    >
                                <option value="">Tamilnadu</option>
                                 <option value="">Kerala</option>
                                  <option value="">Karnataka</option>
                                                            </select>
                        </div>
                        <div class="form-group ">
                            <label>Pin Code</label>
                            <input type="text"
                                   class="form-control" 
                                   name = "pincode"
                                   ng-model = "staffModel.pincode"
                                   placeholder="Pin Code" 
                                   required
                                   />
                        </div>
                        <div class="form-group full_w ">
                            <label>Notes</label>
                            <textarea 
                                class="form-control" 
                                name = "notes"
                                ng-model = "staffModel.notes"
                                placeholder="Notes" 
                                
                                ></textarea>
                        </div>
                        <div class="form-group full_w btn_group">
                            <button type="submit" class="btn btn-sm btn-primary btn_grn" data-ng-disabled="isDataSavingProcess" data-ng-class='{"btn-loader":isDataSavingProcess}' >Save</button>
                            <button type="button" class="btn btn-sm btn-primary btn_orng" ng-click="formReset()" data-ng-disabled="isDataSavingProcess">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



